*/saves/*
saves/*
*/schematics/*
schematics/*
*/screenshots/*
screenshots/*
*/resourcepacks/*
resourcepacks/*
*/patchouli_books/*
patchouli_books/*
*/natives/*
natives/*
*/local/*
local/*
*/logs/*
logs/*
*/downloads/*
downloads/*
*/backups/*
backups/*
*/.mixin.out/*
.mixin.out/*
*/scriptsFormatted/*
scriptsFormatted/*
*/ESM/*
ESM/*
*/mods/*
mods/*
*/woot/*
woot/*
*/crash-reports/*
crash-reports/*
*.json
*.txt
*.toml
*.dat
