*/saves/*
saves/*
*/schematics/*
schematics/*
*/screenshots/*
screenshots/*
*/resourcepacks/*
resourcepacks/*
*/patchouli_books/*
patchouli_books/*
*/natives/*
natives/*
*/local/*
local/*
*/logs/*
logs/*
*/journeymap/*
journeymap/*
*/downloads/*
downloads/*
*/backups/*
backups/*
*/.mixin.out/*
.mixin.out/*
*/scriptsFormatted/*
scriptsFormatted/*
*/ESM/*
ESM/*
*/mods/*
mods/*
minecraftinstance.json
patchouli_data.json
realms_persistence.json
TrashSlotState.json
TrashSlotSaveState.json
usercache.json
usernamecache.json
config.json
reauth.toml
servers.dat_old
woot/*
*.txt
*.dat
!defaultconfigs/*
journeymap/journeymap.log
journeymap/journeymap.log
